<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phatRchannel</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div class="banner">
        <div class="about_sign-in">
            <a href="" class="about"> About us</a>
            <a href="" class="signin green"> Sign in</a>
        </div>
        <div class="logo"></div>
        <img src="./pho.jpg" class="pho">
        <img src="./banh mi.jpg" class="banhmi">
        <img src="./cha gio.jpg" class="chagio">
        <img src="./bunbohue.jpg" class="bunbo">
        <div class="content-center">
            <div class="top">
                <img src="./icon-gift.svg" />
                <span>Better</span>
            </div>
            <div class="center">
                <img src="./icon-clock.svg" />
                <span>Faster</span>
            </div>
            <div class="bottom">
                <img src="./icon-like.svg" />
                <span>Together</span>
            </div>
        </div>
        <div class="text">
            <span>Try and feel the quintessence of Vietnamese cuisine</span>
        </div>
        <div class="btn_start">
            <button>Start now </button>
        </div>

    </div>
    <div class="banner2">
        <div>
            <span>
                Menu
            </span>
        </div>

    </div>
</body>

</html>