<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thanh phat channel</title>
</head>

<body>
    <h1>hello world, this is kim hotel</h1>
</body>

</html>